body{
    background-image: url(/Tic-Tac-Toe/src/img/fondo-01.jpg);
    background-size: cover;
}

h1{
    margin-top: 40px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
}
.divMarcadores{
    display: grid;
    grid-template-columns: 100px 100px;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: -10px;
    margin-left: -30px;

}
.iconPersona{
    width: auto;
    height: 30px;
}
.iconCompu{
    width: auto;
    height: 30px;
}
.pMarcadorPersona{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFE3FD;
    text-align: center;
    margin-left: 10px;
}
.pMarcadorCompu{
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #FFE3FD;
    text-align: center;
    margin-left: 20px;
}
.divPersona{
    display: grid;
    grid-template-columns: 50px 20px;
    align-items: center;

}
.divCompu{
    display: grid;
    grid-template-columns: 50px 50px;
    align-items: center;
    margin-left: 30px;

}
.divCelda{
   display: grid;
   grid-template-columns: repeat(3,120px);
   grid-template-rows: repeat(3, 120px);
   justify-content: center;
   padding: 0; 
   margin: 0; 
   border: none;
   gap: 5px;

}
.celda{

    border-radius: 10px;
    box-shadow: 0 0 10px #FFE3FD, 0 0 10px #D517BF, 0 0 30px #FFE3FD;
    box-sizing: border-box; 
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 70px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #c43ebb;
    position: relative;

}

.aviso{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: start;
    color: #ffffff;
    padding: 0;
    margin: 0;
}
.avisoCompu{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    text-align: start;
    color: #c43ebb;
    padding: 0;
    margin: 0;
}
.imgReiniciar{
    width: auto;
    height: 45px;
    cursor: pointer;
    padding: 0;
    margin: 0;
}

.divImgReiniciar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -15px;
}

.btnReiniciar{
background: none;
border: none;
}

.divElementosInferiores{
    display: grid;
    grid-template-columns: 100px 200px 100px;
    text-align: center;
    justify-items: center;
    justify-content: center;

}
.celdasGanadoras{
    background-color: #D517BF;
}
.btnResetScore{
    height:30px;
    width: 100px;
    border-radius: 50px;
text-align: center;
font-size: 14px;
background-color: #D517BF;
color: rgb(255, 255, 255);
border: transparent; 
cursor: pointer;
align-items: center;
justify-items: center;
}